.hat{
    border-radius: 50px;
    padding: 15px;
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 158px;
}
.hat:hover{
    background-color: black;
    color: white;
}
.polo{
    background-color: blue;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 15px;
    margin-left: 1000px;
}
.like{
    margin-left: 150px;
}
.you{
    margin-bottom: 700px;
    margin-right: 150px;
    font-size: 60px;
}
.ex{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}
.or{
    background-color: blue;
}
.ch{
    border: 10px;
    background-color: white;
    color: black;
}
.new{
    margin-bottom: 600px;
    font-size: 60px;
}
.aa{
    display: flex;
    align-items: center;
}
.nul{
    margin-bottom: 400px;
}